langchain==0.3.0
openai==1.45.0
langchain-openai==0.2.0
langchain-community==0.3.0
langchain-core==0.3.0
chromadb==0.5.5
chroma-hnswlib==0.7.6
pysqlite3-binary==0.5.3
slack_sdk==3.32.0
slack-bolt==1.20.1
tiktoken==0.7.0
pdfminer.six==20240706
python-dotenv==1.0.1
python-telegram-bot==21.5